@font-face {
  font-family: 'dtl_nobelt_light';
  src: url("..fonts/dtlnobelt-light-webfont.eot");
  src: url("../fonts/dtlnobelt-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/dtlnobelt-light-webfont.woff2") format("woff2"), url("../fonts/dtlnobelt-light-webfont.woff") format("woff"), url("../fonts/dtlnobelt-light-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'dtl_nobelt_regular';
  src: url("../fonts/dtlnobelt-webfont.eot");
  src: url("../fonts/dtlnobelt-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/dtlnobelt-webfont.woff2") format("woff2"), url("../fonts/dtlnobelt-webfont.woff") format("woff"), url("../fonts/dtlnobelt-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* line 36, ../sass/_partials.scss */
.noscroll {
  overflow: hidden;
}

/* line 1, ../sass/_circles.scss */
.circle {
  align-content: flex-end;
  align-items: flex-end;
  display: flex;
  justify-content: center;
  position: relative;
}
/* line 8, ../sass/_circles.scss */
.circle button {
  align-content: center;
  align-items: center;
  display: flex;
  height: 10%;
  margin-bottom: 17%;
  position: relative;
  width: 35%;
  background: #aa650d;
  font-size: .6em;
  min-height: 30px;
  min-width: 100px;
  padding: 0;
}
@media (orientation: portrait) {
  /* line 1, ../sass/_circles.scss */
  .circle {
    height: 60vw;
    max-height: 600px;
    max-width: 600px;
    min-width: 300px;
    min-height: 300px;
    width: 60vw;
  }
}
@media (orientation: landscape) {
  /* line 1, ../sass/_circles.scss */
  .circle {
    height: 70vh;
    margin-top: 50px;
    max-height: 475px;
    max-width: 475px;
    width: 70vh;
  }
}

/* line 1, ../sass/_backgrounds.scss */
h1 {
  font-size: 5em;
  font-family: arial,helvetica;
  color: #fff;
  margin: 0;
  padding: 0;
}

/* Centered texts in each section
* --------------------------------------- */
/* line 10, ../sass/_backgrounds.scss */
.section {
  text-align: center;
}

/* Backgrounds will cover all the section
* --------------------------------------- */
/* line 15, ../sass/_backgrounds.scss */
.section {
  background-size: cover;
}

/* line 18, ../sass/_backgrounds.scss */
.slide {
  background-size: cover;
}

/* line 22, ../sass/_backgrounds.scss */
#section0 {
  background: url(../images/luxury-penthouse-outdoor-terrace_Seychelle_Santa-Monica-California.jpg);
}

/* line 25, ../sass/_backgrounds.scss */
#section2 {
  background: url(../images/luxury-penthouse-living-room-at-the_Seychelle_Santa-Monica-California.jpg);
}

/* line 28, ../sass/_backgrounds.scss */
#section3 {
  background: url(../images/gourmet-kitchen-in-the-luxury-penthouse_Seychelle_Santa-Monica-California.jpg);
}

/* line 31, ../sass/_backgrounds.scss */
#section3 h1 {
  color: #000;
}

/* line 34, ../sass/_backgrounds.scss */
#section6 {
  background: url(../images/man-swimming-underwater-in-the-rooftop-pool_Santa-Monica-California.jpg);
}

/* line 37, ../sass/_backgrounds.scss */
#section7 {
  background: url(../images/concierge-lobby-at-the_Seychelle_Santa-Monica-California.jpg);
}

/* line 40, ../sass/_backgrounds.scss */
#section8 {
  background: url(../images/man-and-woman-by-the-swimming-pool_Seychelle_Santa-Monica-California.jpg);
}

/* line 43, ../sass/_backgrounds.scss */
#section9 {
  background: url(../images/on-site-fitness-center-at-the_Seychelle_Santa-Monica-California.jpg);
}

/* line 46, ../sass/_backgrounds.scss */
#section10 {
  background: url(../images/couple-toasting-champagne-glasses-by-the_Seychelle_Santa-Monica-California.jpg);
}

/* line 49, ../sass/_backgrounds.scss */
#section11 {
  background: url(../images/dog-at-the-pet-spa-by-the_Seychelle_Santa-Monica-California.jpg);
}

/* line 52, ../sass/_backgrounds.scss */
#section12 {
  background: url(../images/female-jogger-running-along-the-west-coast-by-the_Seychelle_Santa-Monica-California.jpg);
}

/* line 55, ../sass/_backgrounds.scss */
#section13 {
  background: url(../images/santa-monica-place-by-the_Seychelle_Santa-Monica-California.jpg);
}

/* line 58, ../sass/_backgrounds.scss */
#section14 {
  background: url(../images/Tongva-Park-by-the_Seychelle_Santa-Monica-California.jpg.jpg);
}

/* line 61, ../sass/_backgrounds.scss */
#section15 {
  background: url(../images/palm-trees-by-the_Seychelle_Santa-Monica-California.jpg);
}

/* line 64, ../sass/_backgrounds.scss */
#slide1 {
  background: url(../images/luxury-penthouse-outdoor-terrace-at-the_Seychelle_Santa-Monica-California.jpg);
  padding: 6% 0 0 0;
}
/* line 67, ../sass/_backgrounds.scss */
#slide1 .circle {
  background: url(../images/circle-private-terrace.png);
}

/* line 71, ../sass/_backgrounds.scss */
#slide2 {
  background: url(../images/pet-friendly-lobby-and-concierge-at-the_Seychelle_Santa-Monica-California.jpg);
  padding: 6% 0 0 0;
}
/* line 74, ../sass/_backgrounds.scss */
#slide2 .circle {
  background: url(../images/circle-luxury-penthouse.png);
}

/* line 78, ../sass/_backgrounds.scss */
#slide3 {
  background: url(../images/luxury-penthouse-living-room-at-the_Seychelle_Santa-Monica-California.jpg);
  padding: 6% 0 0 0;
}
/* line 81, ../sass/_backgrounds.scss */
#slide3 .circle {
  background: url(../images/circle-amazing-views.png);
}

/* line 85, ../sass/_backgrounds.scss */
#section1 [id^="slide"] .circle {
  background-position: center center;
  background-size: cover;
}

/* line 89, ../sass/_backgrounds.scss */
#section0, #section2, #section3, #section4, #section6, #section7, #section8, #section9, #section10, #section11, #section12, #section13, #section14, #section15 {
  background-position: center !important;
  background-size: cover !important;
}

/* line 93, ../sass/_backgrounds.scss */
#slide1 {
  background-position: right !important;
  background-size: cover !important;
  padding: 0;
}

/* line 98, ../sass/_backgrounds.scss */
#slide2, #slide3 {
  background-position: center !important;
  background-size: cover !important;
  padding: 0;
}

/* line 104, ../sass/_backgrounds.scss */
#infoMenu li a {
  color: #fff;
}

/* line 5, ../sass/main.scss */
* {
  margin: 0;
  padding: 0;
  font-family: 'dtl_nobelt_regular';
}

/* line 6, ../sass/main.scss */
div, span, p, a, h1, h2, h3 {
  font-family: 'dtl_nobelt_regular';
}

/* line 7, ../sass/main.scss */
a {
  cursor: pointer;
}

/* line 9, ../sass/main.scss */
header {
  height: 60px;
  position: fixed;
  top: 0;
  width: 100%;
  background: #49423d;
  z-index: 50;
  text-align: center;
}
/* line 18, ../sass/main.scss */
header h2 {
  color: #fff;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 60px;
  text-transform: uppercase;
}
/* line 26, ../sass/main.scss */
header .menu-wrap {
  height: 100%;
  position: absolute;
  width: 100px;
  top: 0;
  right: 0;
}
/* line 33, ../sass/main.scss */
header .menu-wrap #menu-open {
  align-content: center;
  align-items: center;
  display: flex;
  flex-flow: column;
  height: 100%;
  justify-content: center;
}
/* line 41, ../sass/main.scss */
header .menu-wrap #menu-open div {
  height: 2px;
  width: 60px;
  background: #fff;
}
/* line 45, ../sass/main.scss */
header .menu-wrap #menu-open div:nth-child(-n+2) {
  margin-bottom: 8px;
}

/* line 54, ../sass/main.scss */
.side-wrap {
  display: none;
  margin-left: 25px;
  position: fixed;
  width: 170px;
  top: 0;
  left: 0;
  background: #a9996e;
  z-index: 80;
}
/* line 63, ../sass/main.scss */
.side-wrap #banner {
  box-sizing: border-box;
  padding: 10px 10px 20px;
  width: 100%;
  background: #edeae5;
}
/* line 69, ../sass/main.scss */
.side-wrap #banner img {
  max-width: 100%;
}
/* line 74, ../sass/main.scss */
.side-wrap #sidenav {
  padding: 45px 15px 50px;
  color: #fff;
  font-family: 'nobel-light-stack';
}
/* line 79, ../sass/main.scss */
.side-wrap #sidenav li {
  margin: 6px 0;
  font-size: .95em;
  text-transform: uppercase;
}
/* line 84, ../sass/main.scss */
.side-wrap #sidenav li ul {
  display: none;
}
/* line 87, ../sass/main.scss */
.side-wrap #sidenav li ul li {
  margin: 0 0 0 10px;
  font-size: 1em;
  text-transform: capitalize;
}
/* line 91, ../sass/main.scss */
.side-wrap #sidenav li ul li:first-of-type {
  margin-top: 3px;
}
/* line 98, ../sass/main.scss */
.side-wrap #sidenav .active {
  color: #49423d;
}
/* line 100, ../sass/main.scss */
.side-wrap #sidenav .active + ul {
  display: block;
}
@media (min-width: 900px) {
  /* line 54, ../sass/main.scss */
  .side-wrap {
    display: block;
  }
}

/* line 110, ../sass/main.scss */
#menu-overlay {
  align-items: center;
  display: none;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 85;
  background: rgba(73, 66, 61, 0.9);
}
/* line 124, ../sass/main.scss */
#menu-overlay.active {
  display: flex;
}
/* line 128, ../sass/main.scss */
#menu-overlay #menu {
  max-width: 900px;
  width: 80%;
}
/* line 132, ../sass/main.scss */
#menu-overlay #menu a {
  color: #fff;
  font-size: 1.5em;
  font-weight: 200;
  text-decoration: none;
  text-transform: uppercase;
}
/* line 139, ../sass/main.scss */
#menu-overlay #menu a:hover {
  color: #a9996e;
}
@media (min-width: 450px) {
  /* line 132, ../sass/main.scss */
  #menu-overlay #menu a {
    font-size: 2em;
  }
}
@media (min-width: 650px) {
  /* line 132, ../sass/main.scss */
  #menu-overlay #menu a {
    font-size: 3em;
  }
}
/* line 150, ../sass/main.scss */
#menu-overlay #menu li {
  list-style: none;
  text-align: center;
}
/* line 154, ../sass/main.scss */
#menu-overlay #menu li:nth-child(-n+4) {
  border-bottom: 1px solid #fff;
  padding-bottom: 20px;
}
/* line 158, ../sass/main.scss */
#menu-overlay #menu li:nth-child(1n+2) {
  margin-top: 20px;
}
/* line 163, ../sass/main.scss */
#menu-overlay #menu-close {
  height: 100px;
  position: absolute;
  width: 100px;
  top: 0;
  right: 0;
}
/* line 169, ../sass/main.scss */
#menu-overlay #menu-close:before, #menu-overlay #menu-close:after {
  content: "";
  display: inline-block;
  height: 2px;
  margin: auto;
  position: absolute;
  width: 60px;
  background: #fff;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
/* line 179, ../sass/main.scss */
#menu-overlay #menu-close:before {
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
}
/* line 183, ../sass/main.scss */
#menu-overlay #menu-close:after {
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
}
/* line 188, ../sass/main.scss */
#menu-overlay .legal-disclosures {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 0 auto;
  padding-bottom: 15px;
  position: absolute;
  width: 290px;
  bottom: 0;
  right: 0;
  left: 0;
}
/* line 198, ../sass/main.scss */
#menu-overlay .legal-disclosures a {
  color: #fff;
  font-family: "dtl_nobelt_light", sans-serif;
  font-size: 1.1em;
}

/* line 206, ../sass/main.scss */
.overlay {
  display: flex;
  height: 100vh;
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 90;
  background: rgba(0, 0, 0, 0.5);
}

/* line 215, ../sass/main.scss */
.overlay.box {
  align-content: center;
  align-items: center;
  justify-content: center;
  display: none;
}
/* line 220, ../sass/main.scss */
.overlay.box.active {
  display: flex;
}
/* line 222, ../sass/main.scss */
.overlay.box .inner-box {
  position: relative;
}
/* line 225, ../sass/main.scss */
.overlay.box .inner-box .close {
  display: inline-block;
  height: 40px;
  width: 100%;
  top: 0;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  background: #aa650d;
  color: #fff;
}
/* line 237, ../sass/main.scss */
.overlay.box .inner-box .central-box {
  box-sizing: border-box;
  height: 100%;
  overflow-y: scroll;
}
@media (max-width: 699px) {
  /* line 222, ../sass/main.scss */
  .overlay.box .inner-box {
    height: 100%;
    width: 100%;
  }
}
@media (min-width: 700px) {
  /* line 222, ../sass/main.scss */
  .overlay.box .inner-box {
    height: 80%;
    width: 70%;
    max-height: 500px;
    max-width: 700px;
  }
}

/* line 255, ../sass/main.scss */
#floorplan-zoom {
  align-content: center;
  align-items: center;
  justify-content: center;
  display: none;
  display: none;
}
/* line 261, ../sass/main.scss */
#floorplan-zoom.active {
  display: flex;
}
/* line 263, ../sass/main.scss */
#floorplan-zoom .inner-box {
  padding-top: 40px;
  height: 100vh;
  width: 100vw;
  max-height: 100vh;
  max-width: 100vw;
}
/* line 270, ../sass/main.scss */
#floorplan-zoom .central-box {
  overflow: scroll;
}
/* line 273, ../sass/main.scss */
#floorplan-zoom .close {
  position: absolute;
  background: #aa650d;
}
/* line 276, ../sass/main.scss */
#floorplan-zoom .close span {
  font-family: "dtl_nobelt_light", sans-serif;
  text-transform: uppercase;
}
/* line 281, ../sass/main.scss */
#floorplan-zoom #floorplan {
  transform-origin: top left;
  transform: scale(1.35, 1.35);
}
@media (orientation: landscape) and (min-height: 650px) {
  /* line 286, ../sass/main.scss */
  #floorplan-zoom .inner-box {
    height: 80%;
    max-height: 800px;
    width: 80%;
    max-width: 800px;
  }
}
@media (orientation: portrait) and (max-width: 550px) {
  /* line 294, ../sass/main.scss */
  #floorplan-zoom #floorplan {
    transform: scale(1, 1);
  }
}

/* line 302, ../sass/main.scss */
#privacy-disclosure article, #terms-disclosure article {
  background: #eee;
  padding: 0 20px 20px;
  color: #000;
}
/* line 306, ../sass/main.scss */
#privacy-disclosure article h2, #privacy-disclosure article p, #terms-disclosure article h2, #terms-disclosure article p {
  color: #000;
  font-family: "dtl_nobelt_light", sans-serif;
}
/* line 310, ../sass/main.scss */
#privacy-disclosure article h2, #terms-disclosure article h2 {
  line-height: 40px;
  text-align: center;
}
/* line 314, ../sass/main.scss */
#privacy-disclosure article p, #terms-disclosure article p {
  font-size: 0.8em;
  line-height: 1.1em;
  text-align: justify;
  padding-bottom: 10px;
}
/* line 320, ../sass/main.scss */
#privacy-disclosure article li, #terms-disclosure article li {
  margin-left: 20px;
}
/* line 323, ../sass/main.scss */
#privacy-disclosure article strong, #terms-disclosure article strong {
  color: #aa650d;
  font-weight: bold;
}

/* line 332, ../sass/main.scss */
#section1 div[id^='slide'] {
  align-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
}

/* line 340, ../sass/main.scss */
figcaption {
  font-family: 'dtl_nobelt_light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  bottom: 0 !important;
  position: absolute;
  color: white;
  margin: auto;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  line-height: 1.5em;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 10px 0;
}
@media (min-width: 768px) and (-webkit-device-pixel-ratio: 1) {
  /* line 340, ../sass/main.scss */
  figcaption {
    line-height: 2.5em;
  }
}

@media (orientation: portrait) {
  /* line 358, ../sass/main.scss */
  .fp-controlArrow {
    display: none !important;
  }
}
@media (orientation: portrait) and (min-width: 650px) {
  /* line 358, ../sass/main.scss */
  .fp-controlArrow {
    display: block;
  }
}

@media (orientation: landscape) {
  /* line 358, ../sass/main.scss */
  .fp-controlArrow {
    transform: scale(0.5, 0.5) translateY(50%);
  }
}
@media (orientation: landscape) and (min-width: 650px) {
  /* line 358, ../sass/main.scss */
  .fp-controlArrow {
    transform: scale(1, 1) translateY(50%) !important;
  }
}

/* line 378, ../sass/main.scss */
.fp-slidesNav {
  align-items: 0;
  bottom: 5px !important;
  display: flex;
  flex-flow: row nowrap;
}
/* line 384, ../sass/main.scss */
.fp-slidesNav a span {
  background: transparent !important;
  border: 2px solid #fff !important;
  height: 10px !important;
  margin: 0 !important;
  width: 10px !important;
}
/* line 391, ../sass/main.scss */
.fp-slidesNav a.active span, .fp-slidesNav a:hover span {
  background: #fff !important;
}
