@font-face {
  font-family: 'dtl_nobelt_light';
  src: url("..fonts/dtlnobelt-light-webfont.eot");
  src: url("../fonts/dtlnobelt-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/dtlnobelt-light-webfont.woff2") format("woff2"), url("../fonts/dtlnobelt-light-webfont.woff") format("woff"), url("../fonts/dtlnobelt-light-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'dtl_nobelt_regular';
  src: url("../fonts/dtlnobelt-webfont.eot");
  src: url("../fonts/dtlnobelt-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/dtlnobelt-webfont.woff2") format("woff2"), url("../fonts/dtlnobelt-webfont.woff") format("woff"), url("../fonts/dtlnobelt-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* line 36, ../sass/_partials.scss */
.noscroll {
  overflow: hidden;
}

/* line 1, ../sass/_circles.scss */
.circle {
  align-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  border-radius: 50%;
  color: #fff;
  font-family: 'DTL Nobel';
  font-weight: 400;
}
/* line 13, ../sass/_circles.scss */
.circle .inner-wrap {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 95%;
  justify-content: center;
  text-align: center;
  width: 95%;
  border-radius: 50%;
  background-image: url(../images/circles-ring-border.svg);
  background-origin: padding-box;
  background-size: contain;
  background-position: center center;
}
/* line 29, ../sass/_circles.scss */
.circle button {
  margin-top: 20px;
  height: 30px;
  width: 120px;
  background: #aa650d;
  border: none;
  color: #fff;
  font-family: 'DTL Nobel';
  font-size: .5em;
  font-weight: 600;
  letter-spacing: .75px;
}

@media all and (-moz-orientation: landscape) {
  /* line 43, ../sass/_circles.scss */
  .circle {
    height: 100vh;
  }
}
/* line 1, ../sass/_backgrounds.scss */
h1 {
  font-size: 5em;
  font-family: arial,helvetica;
  color: #fff;
  margin: 0;
  padding: 0;
}

/* Centered texts in each section
* --------------------------------------- */
/* line 10, ../sass/_backgrounds.scss */
.section {
  text-align: center;
}

/* Backgrounds will cover all the section
* --------------------------------------- */
/* line 15, ../sass/_backgrounds.scss */
.section {
  background-size: cover;
}

/* line 18, ../sass/_backgrounds.scss */
.slide {
  background-size: cover;
}

/* line 22, ../sass/_backgrounds.scss */
#section0 {
  background: url(../images/luxury-penthouse-outdoor-terrace_Seychelle_Santa-Monica-California.jpg);
}

/* line 25, ../sass/_backgrounds.scss */
#section2 {
  background: url(../images/luxury-penthouse-living-room-at-the_Seychelle_Santa-Monica-California.jpg);
}

/* line 28, ../sass/_backgrounds.scss */
#section3 {
  background: url(../images/gourmet-kitchen-in-the-luxury-penthouse_Seychelle_Santa-Monica-California.jpg);
}

/* line 31, ../sass/_backgrounds.scss */
#section3 h1 {
  color: #000;
}

/* line 34, ../sass/_backgrounds.scss */
#section4 {
  background: url(../images/luxury-penthouse-master-bath-at-the_Seychelle_Santa-Monica-California.jpg);
}

/* line 38, ../sass/_backgrounds.scss */
#section6 {
  background: url(../images/man-swimming-underwater-in-the-rooftop-pool_Santa-Monica-California.jpg);
}

/* line 41, ../sass/_backgrounds.scss */
#section7 {
  background: url(../images/concierge-lobby-at-the_Seychelle_Santa-Monica-California.jpg);
}

/* line 44, ../sass/_backgrounds.scss */
#section8 {
  background: url(../images/man-and-woman-by-the-swimming-pool_Seychelle_Santa-Monica-California.jpg);
}

/* line 47, ../sass/_backgrounds.scss */
#section9 {
  background: url(../images/on-site-fitness-center-at-the_Seychelle_Santa-Monica-California.jpg);
}

/* line 50, ../sass/_backgrounds.scss */
#section10 {
  background: url(../images/couple-toasting-champagne-glasses-by-the_Seychelle_Santa-Monica-California.jpg);
}

/* line 53, ../sass/_backgrounds.scss */
#section11 {
  background: url(../images/dog-at-the-pet-spa-by-the_Seychelle_Santa-Monica-California.jpg);
}

/* line 56, ../sass/_backgrounds.scss */
#section12 {
  background: url(../images/female-jogger-running-along-the-west-coast-by-the_Seychelle_Santa-Monica-California.jpg);
}

/* line 59, ../sass/_backgrounds.scss */
#section13 {
  background: url(../images/santa-monica-place-by-the_Seychelle_Santa-Monica-California.jpg);
}

/* line 62, ../sass/_backgrounds.scss */
#section14 {
  background: url(../images/Tongva-Park-by-the_Seychelle_Santa-Monica-California.jpg.jpg);
}

/* line 65, ../sass/_backgrounds.scss */
#section15 {
  background: url(../images/palm-trees-by-the_Seychelle_Santa-Monica-California.jpg);
}

/* line 69, ../sass/_backgrounds.scss */
#slide1 {
  background: url(../images/luxury-penthouse-outdoor-terrace-at-the_Seychelle_Santa-Monica-California.jpg);
  padding: 6% 0 0 0;
}

/* line 73, ../sass/_backgrounds.scss */
#slide2 {
  background: url(../images/pet-friendly-lobby-and-concierge-at-the_Seychelle_Santa-Monica-California.jpg);
  padding: 6% 0 0 0;
}

/* line 76, ../sass/_backgrounds.scss */
#slide3 {
  background: url(../images/luxury-penthouse-living-room-at-the_Seychelle_Santa-Monica-California.jpg);
  padding: 6% 0 0 0;
}

/* line 79, ../sass/_backgrounds.scss */
#section0, #section2, #section3, #section4, #section6, #section7, #section8, #section9, #section10, #section11, #section12, #section13, #section14, #section15 {
  background-position: center !important;
  background-size: cover !important;
}

/* line 83, ../sass/_backgrounds.scss */
#slide1 {
  background-position: right !important;
  background-size: cover !important;
  padding: 0;
}

/* line 88, ../sass/_backgrounds.scss */
#slide2, #slide3 {
  background-position: center !important;
  background-size: cover !important;
  padding: 0;
}

/* line 94, ../sass/_backgrounds.scss */
#infoMenu li a {
  color: #fff;
}

/* line 5, ../sass/main.scss */
* {
  margin: 0;
  padding: 0;
  font-family: 'dtl_nobelt_regular';
}

/* line 6, ../sass/main.scss */
div, span, p, a, h1, h2, h3 {
  font-family: 'dtl_nobelt_regular';
}

/* line 7, ../sass/main.scss */
a {
  cursor: pointer;
}

/* line 9, ../sass/main.scss */
header {
  height: 60px;
  position: fixed;
  top: 0;
  width: 100%;
  background: #49423d;
  z-index: 50;
  text-align: center;
}
/* line 18, ../sass/main.scss */
header h2 {
  color: #fff;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 60px;
  text-transform: uppercase;
}
/* line 26, ../sass/main.scss */
header .menu-wrap {
  height: 100%;
  position: absolute;
  width: 100px;
  top: 0;
  right: 0;
}
/* line 33, ../sass/main.scss */
header .menu-wrap #menu-open {
  align-content: center;
  align-items: center;
  display: flex;
  flex-flow: column;
  height: 100%;
  justify-content: center;
}
/* line 41, ../sass/main.scss */
header .menu-wrap #menu-open div {
  height: 2px;
  width: 60px;
  background: #fff;
}
/* line 45, ../sass/main.scss */
header .menu-wrap #menu-open div:nth-child(-n+2) {
  margin-bottom: 8px;
}

/* line 54, ../sass/main.scss */
.side-wrap {
  display: none;
  margin-left: 25px;
  position: fixed;
  width: 170px;
  top: 0;
  left: 0;
  background: #a9996e;
  z-index: 80;
}
/* line 63, ../sass/main.scss */
.side-wrap #banner {
  box-sizing: border-box;
  padding: 10px 10px 20px;
  width: 100%;
  background: #edeae5;
}
/* line 69, ../sass/main.scss */
.side-wrap #banner img {
  max-width: 100%;
}
/* line 74, ../sass/main.scss */
.side-wrap #sidenav {
  padding: 45px 15px 50px;
  color: #fff;
  font-family: 'DTL Nobel';
}
/* line 79, ../sass/main.scss */
.side-wrap #sidenav li {
  list-style: none;
}
/* line 82, ../sass/main.scss */
.side-wrap #sidenav li h3 {
  font-weight: normal;
  line-height: 2em;
  text-transform: uppercase;
}
/* line 87, ../sass/main.scss */
.side-wrap #sidenav li p {
  display: none;
}
/* line 92, ../sass/main.scss */
.side-wrap #sidenav li.active h3 {
  color: #49423d;
  font-weight: lighter;
}
/* line 96, ../sass/main.scss */
.side-wrap #sidenav li.active p {
  display: block;
  margin: 10px 0 20px 15px;
  font-size: 1.2em;
  font-weight: lighter;
  line-height: 1.4em;
}
@media (min-width: 1000px) {
  /* line 54, ../sass/main.scss */
  .side-wrap {
    display: block;
  }
}

/* line 111, ../sass/main.scss */
#menu-overlay {
  align-items: center;
  display: none;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 90;
  background: rgba(73, 66, 61, 0.9);
}
/* line 125, ../sass/main.scss */
#menu-overlay.active {
  display: flex;
}
/* line 129, ../sass/main.scss */
#menu-overlay #menu {
  max-width: 900px;
  width: 80%;
}
/* line 133, ../sass/main.scss */
#menu-overlay #menu a {
  color: #fff;
  font-size: 1.5em;
  font-weight: 200;
  text-decoration: none;
  text-transform: uppercase;
}
/* line 140, ../sass/main.scss */
#menu-overlay #menu a:hover {
  color: #a9996e;
}
@media (min-width: 450px) {
  /* line 133, ../sass/main.scss */
  #menu-overlay #menu a {
    font-size: 2em;
  }
}
@media (min-width: 650px) {
  /* line 133, ../sass/main.scss */
  #menu-overlay #menu a {
    font-size: 3em;
  }
}
/* line 151, ../sass/main.scss */
#menu-overlay #menu li {
  list-style: none;
  text-align: center;
}
/* line 155, ../sass/main.scss */
#menu-overlay #menu li:nth-child(-n+4) {
  border-bottom: 1px solid #fff;
  padding-bottom: 20px;
}
/* line 159, ../sass/main.scss */
#menu-overlay #menu li:nth-child(1n+2) {
  margin-top: 20px;
}
/* line 164, ../sass/main.scss */
#menu-overlay #menu-close {
  height: 100px;
  position: absolute;
  width: 100px;
  top: 0;
  right: 0;
}
/* line 170, ../sass/main.scss */
#menu-overlay #menu-close:before, #menu-overlay #menu-close:after {
  content: "";
  display: inline-block;
  height: 2px;
  margin: auto;
  position: absolute;
  width: 60px;
  background: #fff;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
/* line 180, ../sass/main.scss */
#menu-overlay #menu-close:before {
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
}
/* line 184, ../sass/main.scss */
#menu-overlay #menu-close:after {
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
}
/* line 190, ../sass/main.scss */
#menu-overlay #open-terms {
  padding-bottom: 5px;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  text-align: center;
}
/* line 197, ../sass/main.scss */
#menu-overlay #open-terms a {
  color: rgba(255, 255, 255, 0.6);
  font-family: 'dtl_nobelt_light';
}

/* line 204, ../sass/main.scss */
#terms {
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 90;
  background: #eaeaea;
  font-family: "dtl_nobelt_light", sans-serif;
}
/* line 213, ../sass/main.scss */
#terms #close-terms {
  display: inline-block;
  height: 40px;
  position: relative;
  width: 100%;
  background: #aa650d;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
}
/* line 223, ../sass/main.scss */
#terms .text-wrapper {
  box-sizing: border-box;
  height: -moz-calc(100% - 40px);
  overflow-y: scroll;
  padding: 0 20px;
  width: 100%;
}
/* line 230, ../sass/main.scss */
#terms h2 {
  line-height: 40px;
  text-align: center;
}
/* line 234, ../sass/main.scss */
#terms p {
  font-family: "dtl_nobelt_light", sans-serif;
  font-size: 0.8em;
  line-height: 1.1em;
  text-align: justify;
  padding-bottom: 10px;
}
/* line 241, ../sass/main.scss */
#terms strong {
  color: #aa650d;
  font-weight: bold;
}
@media (min-width: 900px) {
  /* line 204, ../sass/main.scss */
  #terms {
    height: 80%;
    width: 70%;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

/* line 255, ../sass/main.scss */
#section1 div[id^='slide'] {
  align-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
}

/* line 264, ../sass/main.scss */
.circle * {
  font-family: "dtl_nobelt_light", sans-serif;
}
/* line 266, ../sass/main.scss */
.circle h2 {
  line-height: 1.25em;
}
/* line 269, ../sass/main.scss */
.circle h3 {
  font-size: 1em;
}
/* line 273, ../sass/main.scss */
.circle button {
  font-family: "dtl_nobelt_light", sans-serif;
  font-size: 0.75em;
}
/* line 278, ../sass/main.scss */
.circle.blue {
  background: rgba(89, 130, 148, 0.9);
}
/* line 279, ../sass/main.scss */
.circle.brown {
  background: rgba(73, 66, 61, 0.9);
}
@media (orientation: portrait) {
  /* line 263, ../sass/main.scss */
  .circle {
    height: 70vw;
    width: 70vw;
  }
}
@media (orientation: portrait) and (min-width: 650px) {
  /* line 263, ../sass/main.scss */
  .circle {
    height: 50vw;
    width: 50vw;
  }
  /* line 288, ../sass/main.scss */
  .circle h3 {
    font-size: 1.5em;
  }
}

@media (orientation: landscape) {
  /* line 263, ../sass/main.scss */
  .circle {
    height: 70vh;
    margin-top: 50px;
    max-height: 475px;
    max-width: 475px;
    width: 70vh;
  }
}
@media (orientation: landscape) and (min-width: 650px) {
  /* line 263, ../sass/main.scss */
  .circle {
    margin-top: 0;
  }
}

/* line 304, ../sass/main.scss */
#slide1 .circle h2 {
  font-size: 2.50em;
}

/* line 309, ../sass/main.scss */
#slide2 .circle h2 {
  font-size: 2.00em;
}

/* line 314, ../sass/main.scss */
#slide3 .circle h2 {
  font-size: 2.25em;
}

/* line 319, ../sass/main.scss */
figcaption {
  font-family: 'dtl_nobelt_light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  bottom: 0 !important;
  position: absolute;
  color: white;
  margin: auto;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  line-height: 1.5em;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 10px 0;
}
@media (min-width: 768px) and (-webkit-device-pixel-ratio: 1) {
  /* line 319, ../sass/main.scss */
  figcaption {
    line-height: 2.5em;
  }
}

@media (orientation: portrait) {
  /* line 337, ../sass/main.scss */
  .fp-controlArrow {
    display: none !important;
  }
}
@media (orientation: portrait) and (min-width: 650px) {
  /* line 337, ../sass/main.scss */
  .fp-controlArrow {
    display: block;
  }
}

@media (orientation: landscape) {
  /* line 337, ../sass/main.scss */
  .fp-controlArrow {
    transform: scale(0.5, 0.5) translateY(50%);
  }
}
@media (orientation: landscape) and (min-width: 650px) {
  /* line 337, ../sass/main.scss */
  .fp-controlArrow {
    transform: scale(1, 1) translateY(50%) !important;
  }
}
