@charset "UTF-8";
/* CSS Document */
body {
	-moz-osx-font-smoothing: grayscale;
	font-smoothing: grayscale;
	-webkit-font-smoothing: grayscale;
}

@font-face {
    font-family: 'dtl_nobelt_light';
    src: url('..fonts/dtlnobelt-light-webfont.eot');
    src: url('../fonts/dtlnobelt-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/dtlnobelt-light-webfont.woff2') format('woff2'),
         url('../fonts/dtlnobelt-light-webfont.woff') format('woff'),
         url('../fonts/dtlnobelt-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'dtl_nobelt_regular';
    src: url('../fonts/dtlnobelt-webfont.eot');
    src: url('../fonts/dtlnobelt-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/dtlnobelt-webfont.woff2') format('woff2'),
         url('../fonts/dtlnobelt-webfont.woff') format('woff'),
         url('../fonts/dtlnobelt-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
h2, h3, p {
	color:#ffffff;
	font-family:'dtl_nobelt_regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h2, h3 {
	text-transform:uppercase;
	text-align:left;
}
h2 {	
	font-size:1.5em;
	padding:1em 0;
	letter-spacing:1px;
}

header h2 {
	text-align:center;
	line-height:10px !important;	
}

h3 {
	font-size:1em;
	padding:1.5em 0 .5em;
}

p {
	font-family: 'dtl_nobelt_light';
	font-size:1em;
	text-align:left;
	line-height:1.4em;
	letter-spacing:0px;
	
}
sup {
	font-size:small;
}

figcaption {
	font-family:'dtl_nobelt_light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	bottom: 0 !important;
	position: absolute;
	color: rgb(255, 255, 255);
	margin: auto;
	background: rgba(0,0,0,0.5);
	width: 100%;
	line-height:1.5em;
	font-weight:200;
	letter-spacing:1px;
	padding:10px 0;
}

/* Floor Plan Section */

.floor-plan {
	text-transform:uppercase;
	text-align:left;
	padding:30px;
}

.floor-plan h2 {
	padding-top:100px;
}

.floor-plan h2, .floor-plan h3, .floor-plan p, .floor-plan {
	color:#49423D;
}

.plan-details, .plan-features, .btn-print, .btn-zoom {
	font-size:.8em;
	line-height:1.5em;
	letter-spacing:1px;
}

.plan-features {
	font-family:'dtl_nobelt_light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	padding-top:30px;
	line-height:2.2em;
}

.plan-features li {
	list-style-image:url(../images/diamond-bullet-point.png);
	list-style-position:inside;
}

button {
	text-transform:uppercase;
	font-size:.7em;
	letter-spacing:1px;
	background:	#49423D;
	padding:10px 20px;
	margin:30px 0;
	border:none;
	color:#ffffff;	
}

/* Property Features */

.property-features, .highlights {
	height:100%;	
}

.property-features p {
	font-family:'dtl_nobelt_light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size:1.25em;
	line-height:1.5em;	
}

/* Dining Section */

.dining-info h2, .property-features h2, .highlights h2 {
	padding-top:100px;	
}

.dining-info, .property-features, .highlights {
	padding: 0 30px;
	background: rgba(73,66,60,0.7);
}

@media (min-width: 501px) {
.dining-info  {
	height:100%;	
}
}

@media (max-width: 500px) {
.dining-info  {
	padding-bottom:100px;	
}
}

/* Additional Property Highlights */
 .highlights {
	font-family:'dtl_nobelt_light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color:#ffffff;
	text-align:left;
	padding:0 30px;
 }
 
 .highlights ul {
	 list-style-image:url(../images/diamond-bullet-point-white.png);
	 list-style-position:inside;
 }
 
 .highlights li {
	 font-size:1.2em;
	 line-height:2em;
 }
 
 
 /* Neighborhood Section */

.place h3 {
	text-align:center !important;
	line-height:1em;
	padding:10px 0;
}

.place figcaption {
	font-family:'dtl_nobelt_regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

 @media (min-width:768px) and
(-webkit-min-device-pixel-ratio: 1) {
	 figcaption {
	 line-height:2.5em;
 }
 }