.circle {
	align-content: center;
	align-items: center;
	display: flex;
	justify-content: center;
	position: relative;
	
	border-radius: 50%;
	color: #fff;
	font-family: 'DTL Nobel';
	font-weight: 400;
	
	.inner-wrap {
		align-items: center;
		display: flex;
		flex-direction: column;
		height: 95%;
		justify-content: center;
		text-align: center;
		width: 95%;
		
		border-radius: 50%;
		background-image: url(../images/circles-ring-border.svg);
		background-origin: padding-box;
		background-size: contain;
		background-position: center center;
	}
	
	button {
		margin-top: 20px;
		height: 30px;
		width: 120px;
		background: $orange;
		border: none;
		color: #fff;
		font-family: 'DTL Nobel';
		font-size: .5em;
		font-weight: 600;
		letter-spacing: .75px;
	}
}
@media all and (-moz-orientation:landscape) {
	.circle {
		height: 100vh;
	}
}