.circle {
	align-content: flex-end;
	align-items: flex-end;
	display: flex;
	justify-content: center;
	position: relative;
	
	button {
		align-content: center;
		align-items: center;
		display: flex;
		height: 10%;
		margin-bottom: 17%;
		position: relative;
		width: 35%;
		background: $orange;
		font-size: .6em;
		min-height: 30px;
		min-width: 100px;
		padding: 0;
	}
	
	@media (orientation: portrait) {
		height: 60vw;
		max-height: 600px;
		max-width: 600px;
		min-width: 300px;
		min-height: 300px	;
		width: 60vw;
	}
	@media (orientation: landscape){
		height: 70vh;
		margin-top: 50px;
		max-height: 475px;
		max-width: 475px;
		width: 70vh;
	}
}